/* section */

.section-first {
    background-color: var(--color-bg);
}

.section-two {
    background-color: var(--color-bg-light);
}

.section__wrapper{
    margin: 160px 360px;
}

.button {
    font-family: Open Sans;
    border: none;
    background: none;
    background: var(--color-bg);
    color: var(--color-bg-light);
    padding: 22px;
    cursor: pointer;
    text-align: center;
}

.button__link {
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
}

.button__link:hover {
    background-color: var(--color-bg-lirgb);
}

.button__link:active {
    background-color: var(--color-bg);
}

@media (max-width: 360px) {
    .button__link {
        width: 340px;
        height: 60px;
        align-items: center;
    }
}